<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/locadorachandon</property>
		<property name="connection.username">root</property>
		<property name="connection.password">admin</property>

		<!-- Pool de Conexões (números de processos que ele vai abrir por vez) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect (idioma do banco, como o hibernate manda comandos pro 
			BD, tem que saber) -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível (Desabilitando) -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas (todos os comandos do banco(insert, delete, 
			update) vão aparecer no console -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">validate</property>

		<mapping class="br.com.locadorachandon.domain.Marca" />
		<mapping class="br.com.locadorachandon.domain.Atendente" />
		<mapping class="br.com.locadorachandon.domain.Locatario" />
		<mapping class="br.com.locadorachandon.domain.Carro" />
		<mapping class="br.com.locadorachandon.domain.Locacao" />
		

	</session-factory>

</hibernate-configuration>